services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: task-manager-app
    container_name: task-manager-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://mongo:27017/task_manager_db
      - JWT_SECRET=hau_dev_secret_123
    depends_on:
      - mongo

volumes:
  mongo-data:
